.accordion__item {
  border: 0.05rem solid var(--border-color);
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  transition: var(--transition);
  position: relative;
}

.accordion__item:first-child {
  height: 5rem;
}

.accordion__header:first-child {
  overflow: visible;
  line-height: 1.8rem;
}

.accordion__item > input {
  display: none;
}

.accordion__item:active > * {
  opacity: 0.5;
  transition: var(--transition);
}
