.accordion:hover .accordion__icon-close {
  opacity: 1;
  pointer-events: all;
  transition: var(--transition);
}

.accordion__icon-close {
  position: absolute;
  top: 9rem;
  right: 2rem;
  transform: translateY(-50%) rotate(45deg);
  width: 1rem;
  height: 1rem;
  background: url("../../../assets/icons/close-icon.png") center no-repeat;
  opacity: 0.2;
  pointer-events: none;
  transition: var(--transition);
  background-size: contain;
}

.accordion__item > input:checked ~ label .accordion__icon-close {
  position: relative;
  transform: rotate(0deg);
  transition: var(--transition);
}

.accordion__item:hover .accordion__icon-close {
  transform: rotate(0deg);
}
