@import "../__content/__content.css";

.accordion__header {
  align-items: center;
  text-align: center;
  cursor: pointer;
  justify-content: space-between;
  font-size: 1.8rem;
  color: var(--font-color);
  transition: var(--transition);
  box-shadow: var(--box-shadow);
  background-color: var(--second-color-canvas);
  padding: 10px;
  cursor: pointer;
}

.accordion:hover .accordion__header {
  color: var(--hover);
  transition: var(--transition);
}

.accordion__item > input:checked ~ label > .accordion__header {
  color: var(--active);
  transition: var(--transition);
}

.accordion__item:hover .accordion__header {
  color: var(--active);
  transition: var(--transition);
}

@media (max-width: 820px) {
  .accordion__header {
    font-size: 1.2rem;
  }
}

@media (max-width: 445px) {
  .accordion__header {
    font-size: 0.8rem;
  }
}
