@import "root.css";
@import "../../common.blocks/accordion/__item/__item.css";
@import "../../common.blocks/accordion/accordion.css";
@import "../../common.blocks/accordion/__header/__header.css";
@import "../../common.blocks/accordion/__content/__content.css";
@import "../../common.blocks/accordion/__img/__img.css";

body {
  background-color: var(--main-background);
}

h1 {
  color: var(--font-color);
}

p {
  color: var(--font-color);
}

wrapper {
  padding: 4rem;
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}
